body {
  font-family: system-ui;
  display: flex;
  justify-content: center;
}

form {
  display: flex;
  align-items: center;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
}
